.results-list {
  font-size: 0.8em;
  width: 100%;
}

.results-bar {
  margin-top: 15px;
  font-weight: bold;
  font-size: 0.8em;
  margin-left: 0px;
}

.results-bar > p {
  border-bottom: solid 1px #DEDEDE;
  padding-left: 15px;
}

.result-number {
  font-size: 1.4em;
}

.top-bar-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 0.8em;
  background-color: #F5F5F5;
  height: 40px;
  border-bottom: solid 1px #DEDEDE;
  padding-left: 15px;
}

p {
  padding: 0px;
  margin: 0px;
}

img {
  width: 10px;
  height: 10px;
  align-self: center;
}

@media only screen and (min-width: 800px) {
  .top-bar-wrapper {
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 1.6fr 0.3fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: 
      "sender to subject date-area";
    align-content: center;
    font-size: 0.7em;
    padding: 0px 15px;
  }

  .results-list {
    width: 100%;
  }

  .results-bar > p {
    padding-left: 0px;
  }

  .sender { 
    grid-area: sender;
  }

  .to { 
    grid-area: to;
   }

  .subject { 
    grid-area: subject;
   }

  .date-area {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: 
        ". date-area";
  }

  .date {
    grid-area: date-area;
  }
  
  .divider {
    display: none;
  }

  .emails {
    padding: 0px;
  }
}